

<div class="pt-4 pb-4 row align-items-center">
    <div class="mt-3 col d-flex justify-content-center align-self-start">
        <a asp-area="" asp-page="/Home"><img src="media/flashback_2.0_logo_light.png" alt="Flashback 2.0 Logo" class="logo-text img-fluid"></a>
    </div>

    <div class="mt-3 col d-flex justify-content-center align-self-start">
        <ul class="nav">
            <li class="nav-item">
                <h1 class="text-center">Links</h1>
                <a is-active-page asp-area="" asp-page="/Home" class="nav-link text-light fs-4">Home</a>
                <a href="" class="nav-link disabled fs-4">Discover</a>
                <a href="" class="nav-link disabled fs-4">Community</a>
                <a href="" class="nav-link disabled fs-4">About Flashback 2.0</a>
                <a href="" class="nav-link disabled fs-4">Rules</a>
                <a is-active-page asp-area="" asp-page="/Privacy" class="nav-link text-light fs-4">Privacy</a>
            </li>
        </ul>
    </div>

    <div class="mt-3 col d-flex justify-content-center align-self-start">
        <button type="button" class="btn btn-light btn-lg rounded-circle scrl-btn" id="btn-back-to-top"><i class="fa-solid fa-angle-up"></i></button>
    </div>

    <div class="mt-3 col d-flex flex-column justify-content-center align-self-start">
        <h1 class="text-center">Statistics</h1>
        <p class="text-start fs-4">Users Online <span class="fw-bold">17</span></p>
        <p class="text-start fs-4">Registered Members <span class="fw-bold">59</span></p>
        <p class="text-start fs-4">Threads <span class="fw-bold">139</span></p>
    </div>

    <div class="gap-3 col d-flex flex-column justify-content-center align-items-center">
        <a href="#" class="nav-link p-0 disabled fs-4"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="nav-link p-0 disabled fs-4"><i class="fa-brands fa-tiktok"></i></a>
        <a href="#" class="nav-link p-0 disabled fs-4"><i class="fa-brands fa-snapchat"></i></a>
        <a href="#" class="nav-link p-0 disabled fs-4"><i class="fa-brands fa-facebook"></i></a>
    </div>
</div>

<div class="p-1 text-center border-top border-secondary">
    <p class="m-3 text-secondary">Copyright &copy; 2023 Kim Wigenfeldt</p>
</div>