@using CourseProjectLiteMK5;
@inject StatsCounter statsCounter

@{
    string brandCssClasses = "col-lg d-lg-flex justify-content-lg-center align-self-lg-start";
    string navCssClasses = "col-lg d-lg-flex justify-content-lg-center align-self-lg-start";
    string scrollButtonCssClasses = "col-lg d-lg-flex justify-content-lg-center align-self-lg-start";
    string statsCssClasses = "col-lg d-lg-flex flex-lg-column justify-content-lg-center align-self-lg-start";
    string socialMediaCssClasses = "gap-lg-3 col-lg d-lg-flex flex-lg-column justify-content-lg-center align-items-lg-center";

    int registeredUsers = statsCounter.GetUserCount();
    int threads = statsCounter.GetPostCount();
}



<div class="my-4 gap-4 d-flex flex-column my-lg-0 p-lg-4 flex-lg-row align-items-lg-center">

    <div class="d-flex justify-content-center align-items-center hide-lg">
        <button type="button" class="btn btn-light btn-lg rounded-circle scrl-btn" id="btn-back-to-top"><i class="fa-solid fa-angle-up"></i></button>
    </div>

    <div class="@brandCssClasses hide-sm">
        <a asp-area="" asp-page="/Home"><img src="~/media/flashback_2.0_logo_light.png" alt="Flashback 2.0 Logo" class="img-fluid"></a>
    </div>

    <div class="@navCssClasses d-flex justify-content-center align-items-center">
        <ul class="nav">
            <li class="nav-item">
                <h1 class="text-center h1-size">Links</h1>
                <a is-active-page asp-area="" asp-page="/Home" class="nav-link text-light txt ftr">Home</a>
                <a href="" class="nav-link disabled txt">Discover</a>
                <a href="" class="nav-link disabled txt">Community</a>
                <a class="nav-link text-light txt ftr" is-active-page asp-area="" asp-page="/About">About</a>
                <a href="" class="nav-link disabled txt">Rules</a>
                <a is-active-page asp-area="" asp-page="/Privacy" class="nav-link text-light txt ftr">Privacy</a>
            </li>
        </ul>
    </div>

    <div class="@scrollButtonCssClasses d-flex justify-content-center align-items-center hide-sm">
        <button class="btn btn-light btn-lg rounded-circle scrl-btn" id="scrollButton" type="button"><i class="fa-solid fa-angle-up"></i></button>
    </div>
    <script>
        document.getElementById("scrollButton").addEventListener("click", function() {
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        });
    </script>

    <div class="@statsCssClasses d-flex flex-column justify-content-center align-self-center">
        <h1 class="text-center h1-size">Statistics</h1>
        <p class="text-start txt">Users Online <span class="fw-bold">NA</span></p>
        <p class="text-start txt">Registered Members <span class="fw-bold">@registeredUsers</span></p>
        <p class="text-start txt">Threads <span class="fw-bold">@threads</span></p>
    </div>

    <div class="@socialMediaCssClasses gap-4 d-flex justify-content-center align-items-center">
        <a href="#" class="p-0 nav-link disabled txt"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="p-0 nav-link disabled txt"><i class="fa-brands fa-tiktok"></i></a>
        <a href="#" class="p-0 nav-link disabled txt"><i class="fa-brands fa-snapchat"></i></a>
        <a href="#" class="p-0 nav-link disabled txt"><i class="fa-brands fa-facebook"></i></a>
    </div>
</div>

<div class="p-1 text-center border-top border-secondary">
    <p class="m-3 text-secondary">Copyright &copy; 2023 Kim Wigenfeldt</p>
</div>