@font-face {
    font-family: "Ubuntu";
    src: url("..//media/Ubuntu-Normal.ttf");
}

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: "Ubuntu";
    color: #FFF !important;
    background: radial-gradient(#011638, #141414);
}

.access-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.codeInput {
    background-color: #141414;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #FFF;
    text-align: center;
    border: 0.125rem inset #000;
    outline: none;
    transition: 0.5s;
    min-width: 75%;
}

.codeInput:focus {
    border: 0.125rem outset #888DA7;
}

.no-style ul { list-style: none; }

@media screen and (min-width: 769px) {
    .access-container form {
        flex-direction: row;
        max-width: 33%;
        margin: auto;
    }
}

@media screen and (min-width: 1025px) {
    body {
        background: linear-gradient(#011638, #141414);
    }

    .access-container form {
        max-width: 100%;
    }
}